.hero,
.hero .glide__slides {
  background-color: var(--primaryColor);
  position: relative;
  width: 100%;
  height: 70vh;
}

.hero .glide__bullet {
  background-color: var(--green-blue);
  width: 1.2rem;
  height: 1.2rem;
}

.hero .glide__arrow {
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--green-blue);
  transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
  background-color: var(--grey-blue);
}

.glide__arrow--left {
  left: 20rem;
}

.glide__arrow--right {
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow {
  opacity: 1;
}

.hero:hover .glide__arrow--left {
  left: 23rem;
}

.hero:hover .glide__arrow--right {
  right: 23rem;
}

.hero .glide__arrow svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--primaryColor);
}

.hero .glide__arrow {
  border-radius: 50%;
}

.hero__center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
  padding-top: 3rem;
}

.hero__left {
  padding: 0 3rem;
  flex: 0 0 50%;
}

.hero__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: var(--green-blue);
  color: var(--primaryColor);
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.5rem 4rem;
  border: 1px solid var(--green-blue);
  transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__left .hero__btn:hover {
  font-weight: 700;
  background-color: transparent;
  color: var(--white);
}

.hero__left h1 {
  margin: 1rem 0;
}

.hero__left p {
  margin-bottom: 1rem;
}

.hero__right {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
}

.hero__right img.banner_03 {
  width: 70%;
}

/* Hero Media Query */
@media only screen and (max-width: 999px) {
  .hero__center {
    flex-direction: column;
    text-align: center;
  }

  .hero__right {
    top: 50%;
    position: absolute;
  }

  .hero__left {
    position: absolute;
    padding: 0 1rem;
    top: 20%;
  }

  .hero__right img {
    width: 55%;
  }

  .hero__btn {
    padding: 1.1rem 2.8rem;
  }

  .hero .glide__arrows {
    display: none;
  }
}

@media only screen and (max-width: 567px) {
  .hero,
  .hero .glide__slides {
    height: 60vh;
  }

  .hero__right {
    display: none;
  }
}